// Custom styles.
#comments a {
  border: none;
}

img.emojione {
  display: inline-block;
}
#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 1040;
    box-shadow: inset 2px 2px 40px #35644a;
    background: #f5f5f5;
//    background: url(http://oisa91ton.bkt.clouddn.com/fengnv.jpg);
    -webkit-transform: translateZ(0);
}
.site-author-name {
    margin: 5px 0 0;
    text-align: center;
    color: #35644a;
    font-weight: normal;
}
/*body {
    background:url(http://img.cosplay.la//0f905765-b133-c95d-1514-c74c4522c120.jpg?imageView2/2/w/1440/interlace/1/q/100);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.9;
    min-height: 500px;
}*/
