.header { background: $head-bg; }
//.header { background: url('http://oisa91ton.bkt.clouddn.com/head.jpg'); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
